/* nesta pagina é suposto obter um cabeçalho com : 
logo, links de inicio/personagens/contactos. 
uma imagem e um rodapé com o texto e informações de acrescimo */


/* fontes de letras utilizadas */ 

@font-face {
    font-family: 'Pacifico-Regular';
    src: url('../fonts/Pacifico-Regular.ttf') format('opentype');
}

/* estealização da pagina web */

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* modificação do logo */

.logo {
    height: 100px;
    margin-left: 100px;
}

/* criação do cabeçalho */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 61);
    border-radius: 0 0 50px 50px;
    padding: 10px 0;
}

/* modificação dos "links */

.links {
    list-style: none;
    display: flex;
    gap: 90px;
 } 

.links a {
    text-decoration: none;
    margin-right: 100px;
    color: rgb(200, 235, 255);
    font-family: 'Pacifico-Regular';
    font-size: 18px;
}

.links a:hover {
    color: #ffffff;
}

/* fundo */

.fundo {
    background-image: url("../Imagens/moanaa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80%;
     position: relative;

}

/* fundo ocutlo */

.fundo::after { /* a posição :: after cria um fundo fantasma */
    content: ""; /* elemento vazio mas existente */
    position: absolute; /* por o degrade por cima da imagem */
    left: 0; /* para que fique colada a imagem */
    bottom: 0; /* para que fique colada a imagem */
    width: 100%;
    height: 45%;
    background:linear-gradient(
        to bottom, 
        rgba(0,0,0,0) 0%
        rgba(0,0,0,0.85) 100%
    );
    pointer-events: none;
    }

 /* parte onde vai aparecer o texto + trailler */ 

 .introetrailer { 
    background-color: rgb(8, 0, 41);
    color: white;
    padding: 50px 60px;
    margin: 0;
}

/* modificação do texto com o objetivo : ter uma altura especifica, tamanho de letra , 
tamanho entre as linhas */

p { 
    line-height: 1.7;
    font-size: 18px;
    margin-bottom: 30px;
}

/* ajustar o texto + trailler */
.intro-texto { 
    max-width: 900px;
    margin: 0 auto 30px;
 }   

 /* editar texto */
 p {
    line-height: 1.8;
    font-size: 18px;
    text-align: center;
 } 

 /* estilizar a parte do video : por no centro debaixo do texto e arredondar as pontas*/

 .video-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

iframe { 
    width: 800px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
}

.rodape {
    color:white;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 .rodape-texto {
    margin: 0;
    font-size: 16px;
}

/* modificações para ecras sem ser computador */

/* modificação para telemovel (até 480 px) */

@media (max-widht:480px)  {

/* modificar cabeçalho */

.cabecalho {
    padding: 10px 15px;
}

/* modificar os links */

.links {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

/* modificar parte da introdução + trailler */

.introetrailer {
    padding: 25px 15px;
}

/*modificar a forma que o trailler aparece */

.video-container {
    margin-top: 17px;
}

/* modificar o rodapé */

.rodape-texto {
    font-size: 13px;
 }   
} 


 /* modificar para tablets */

 @media (max-widht:900px)  {

/* modificar o logo  */

.logo {
    height: 75px;
}

/* modificar cabeçalho */

.cabecalho {
    padding: 10px 17px;
    
}

/* modificar os links */

.links {
   
    gap: 40px;
}

/* modificar parte da introdução + trailler */

.introetrailer {
    padding: 45px 30px;
}

}

.menu-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.menu-btn .bar {
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 5px;
    transition: 0.3s;
}
.menu-mobile {
    display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    background: rgb(22,22,61);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.menu-mobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-mobile li {
    margin: 12px 0;
}

.menu-mobile a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Pacifico;
}
@media (max-width: 768px) {

    .menu-btn {
        display: flex;
    }

    .menu-desktop {
        display: none;
    }
}

@media (max-width: 768px) {
    body {
        background-attachment: scroll;  /* evita bug no iPhone */
        background-size: cover;
    }
}



.menu-toggle {
    display: none;
}
.menu-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
    cursor: pointer;
    margin-right: 25px;
}

.menu-btn .bar {
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 10px;
}
@media (max-width: 768px) {

    .menu-btn {
        display: flex;
    }

    .links {
        display: none;
        position: absolute;
        top: 90px;
        right: 20px;
        background: rgb(22,22,61);
        padding: 20px;
        border-radius: 10px;
        text-align: right;
        flex-direction: column;
        gap: 15px;
    }

    /* Quando o checkbox está ativado → mostrar o menu */
    .menu-toggle:checked + .menu-btn + .links {
        display: flex;
    }
}


