/* nesta pagina é suposto obter um cabeçalho com : 
logo, links de inicio/personagens/contactos. 
uma imagem e um rodapé com o texto e informações de acrescimo */


/* fontes de letras utilizadas */ 

@font-face {
    font-family: 'Pacifico-Regular';
    src: url('../fonts/Pacifico-Regular.ttf') format('opentype');
}

/* estealização da pagina web */

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* modificação do logo */

.logo {
    height: 100px;
    margin-left: 100px;
}

/* criação do cabeçalho */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 61);
    border-radius: 0 0 50px 50px;
    padding: 10px 0;
}

/* modificação dos "links */

.links {
    list-style: none;
    display: flex;
    gap: 90px;
 } 

.links a {
    text-decoration: none;
    margin-right: 100px;
    color: rgb(200, 235, 255);
    font-family: 'Pacifico-Regular';
    font-size: 18px;
}

.links a:hover {
    color: #ffffff;
}

/* fundo */

.fundo {
    background-image: url("../Imagens/moanaa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 80%;
    position: relative;
    background-attachment: scroll; 
    min-height: 100vh;

}

/* fundo ocutlo */

.fundo::after { /* a posição :: after cria um fundo fantasma */
    content: ""; /* elemento vazio mas existente */
    position: absolute; /* por o degrade por cima da imagem */
    left: 0; /* para que fique colada a imagem */
    bottom: 0; /* para que fique colada a imagem */
    width: 100%;
    height: 45%;
    background:linear-gradient(
        to bottom, 
        rgba(0,0,0,0) 0%
        rgba(0,0,0,0.85) 100%
    );
    pointer-events: none;
    }

/* modificação do cabeçalho no telemovel  */

.menu-toggle {
    display: none;
}

/* botão do hambúrguer configurações : so aparecer no telemovel*/

.menu-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
    cursor: pointer;
    margin-right: 25px;
}    

/* criar barra horizontal configurações : ocupar tudo , */

.menu-btn .bar {
    height: 3px;
    width: 100%;
    background: white;
} 


/* fazer com que o site aparece no telemovel */

@media (max-width: 768px) {

    .fundo {
        background-attachment: scroll;
        background-size: cover;
        background-position: center;
    }
/* implementação do cabeçalho */
    .cabecalho {
        padding: 10px 15px;
    }
/* implementação do logo */
    .logo {
        height: 75px;
        margin-left: 10px;
    }

/* mostrar icone do hamburguer e esconder os links */
    .menu-btn {
        display: flex;
    }

    .links {
        display: none;
        position: absolute;
        top: 90px;
        right: 20px;
        background: rgb(22, 22, 61);
        padding: 20px;
        border-radius: 10px;
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
    }
    .menu-toggle:checked + .menu-btn + .links {
        display: flex;
    }
}


 /* parte onde vai aparecer o texto + trailler */ 

 .introetrailer { 
    background-color: rgb(8, 0, 41);
    color: white;
    padding: 50px 60px;
    margin: 0;
}

/* modificação do texto com o objetivo : ter uma altura especifica, tamanho de letra , 
tamanho entre as linhas */

p { 
    line-height: 1.7;
    font-size: 18px;
    margin-bottom: 30px;
}

/* ajustar o texto + trailler */
.intro-texto { 
    max-width: 900px;
    margin: 0 auto 30px;
 }   

 /* editar texto */
 p {
    line-height: 1.8;
    font-size: 18px;
    text-align: center;
 } 

 /* estilizar a parte do video : por no centro debaixo do texto e arredondar as pontas*/

 .video-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

iframe { 
    width: 800px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
}

/* rodape bem basico */
.rodape {
    color:white;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 .rodape-texto {
    margin: 0;
    font-size: 16px;
}



