/* fontes de letras utilizadas */ 

@font-face {
    font-family: 'PoestsenOne-Regular';
    src: url('../fonts/PoetsenOne-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Pacifico-Regular';
    src: url('../fonts/Pacifico-Regular.ttf') format('opentype');
}

/* estealização da pagina web */

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* criação do cabeçalho */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 61);
    border-radius: 0 0 50px 50px;
    padding: 10px 0;
    margin-top: 0;
}

/* modificação dos "links */

.links {
    list-style: none;
    display: flex;
    gap: 90px;
 } 

.links a {
    text-decoration: none;
    margin-right: 100px;
    color: rgb(200, 235, 255);
    font-family: 'Pacifico-Regular';
    font-size: 18px;
}

/* modificar link apos passar o rato */
.links a:hover {
    color: rgb(245, 245, 245);
} 


.logo {
    height: 100px;
    margin-left: 105px;
}

/* cartões */

.elenco {
    display: flex;
    justify-content: center;
    gap: 40px;         
    margin-top: 20px;
    flex-wrap: wrap;   
    margin-top: 80px;
    align-items: center;
}
.cartao {
    background-color: white;
    width: 220px;      
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    margin-left: 10px;
    /* um zoozito a passar com o rato no botão */
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.cartao img {
    width: 100%;
    border-radius: 8px;
}

.cartao:hover{
    transform: scale(1.12);
}

/* modificar as imahens dos cartões*/

.foto{
   height: 145px;
}
.foto1 {
    height: 150px;
}
.foto2 {
    height: 145px;
}

/* fundo */

.fundo {
    background-image: url("../Imagens/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-attachment: scroll; 
    min-height: 100vh;
}


/* modificação do cabeçalho no telemovel  */

.menu-toggle {
    display: none;
}

/* botão do hambúrguer configurações : so aparecer no telemovel*/

.menu-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
    cursor: pointer;
    margin-right: 25px;
}    

/* criar barra horizontal configurações : ocupar tudo , */

.menu-btn .bar {
    height: 3px;
    width: 100%;
    background: white;
} 

/* fazer com que o site funcione em telemovel */

@media (max-width : 768px) {

/* modificar a pagina : configurações iniciais e fazer co que o fundo não se modifique */

.fundo {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("../Imagens/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
} 
  
/* implementação do cabeçalho */

.cabecalho {
    padding: 10px 15px;
} 
   
/* implementação do logo */

.logo { 
    height: 75px;
    margin-left: 10px;
} 

/* mostrar icone do hamburguer e esconder os links */

    .menu-btn {
        display: flex;
    }

    .links {
        display: none;
        position: absolute;
        top: 90px;
        right: 20px;
        background: rgb(22, 22, 61);
        padding: 20px;
        border-radius: 10px;
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
    }
    .menu-toggle:checked + .menu-btn + .links {
        display: flex;
    }
}

/* modificar o titulo */

    h1 {
    text-align: center;
    font-family: 'PoestsenOne-Regular';
    margin-top: 130px;
    font-size: 45px;
    margin-left: 10px;

}

/* rodape bem basico */

.rodape {
    color:rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 .rodape-texto {
    margin: 0;
    font-size: 16px;
}


