/* fontes de letras utilizadas */ 

@font-face {
    font-family: 'Panchang-Extrabold.otf';
    src: url('../fonts/Panchang-Extrabold.otf') format('opentype');
}
@font-face {
    font-family: 'PoestsenOne-Regular';
    src: url('../fonts/PoetsenOne-Regular.ttf') format('opentype');
}

/* estealização da pagina web */

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* criação do cabeçalho */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 61);
    border-radius: 0 0 50px 50px;
    padding: 10px 0;
    margin-top: 0;
}

/* modificação dos "links */

.links {
    list-style: none;
    display: flex;
    gap: 90px;
 } 

.links a {
    text-decoration: none;
    margin-right: 100px;
    color: rgb(200, 235, 255);
    font-family: 'Pacifico-Regular';
    font-size: 18px;
}
.logo {
    height: 100px;
    margin-left: 105px;
}
/* falta fazer o zoom */

/* cartões */

.elenco {
    display: flex;
    justify-content: center;
    gap: 40px;         
    margin-top: 20px;
    flex-wrap: wrap;   
    margin-top: 80px;
    align-items: center;
}
.cartao {
    background-color: white;
    width: 220px;      
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    margin-left: 10px;
    /* um zoozito a passar com o rato no botão */
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.cartao img {
    width: 100%;
    border-radius: 8px;
}

.cartao:hover{
    transform: scale(1.12);
}



.foto{
   height: 145px;
}
.foto1 {
    height: 150px;
}
.foto2 {
    height: 145px;
}

/* fundo */

.fundo {
    background-image: url("../Imagens/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* modificar titulo */ 

h1 {
    text-align: center;
    font-family: 'PoestsenOne-Regular';
    margin-top: 130px;
    font-size: 45px;
    margin-left: 10px;

}

/* rodape bem basico */

.rodape {
    color:rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 .rodape-texto {
    margin: 0;
    font-size: 16px;
}

/* modificações para ecras sem ser computador */

/* modificação para telemovel (até 480 px) */

@media (max-widht:480px)  {

/* modificar cabeçalho */

.cabecalho {
    padding: 10px 15px;
}

/* modificar os links */

.links {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

/* modificar titulo */

h1 {
    margin-top: 38px;
    font-size: 30px;
    text-align: center;
}

/* modificação do espaço dos quadros */

.elenco {
    margin-top: 30px;
}

/* modificar cartões */

.cartao {
    width: 100%;
}

/* editar rodapé */

.rodape-texto {
    font-size: 13px;
 }   

} 

 /* modificar para tablets */

 @media (max-widht:900px)  {

/* modificar o logo  */

.logo {
    height: 75px;
}

/* modificar cabeçalho */

.cabecalho {
    padding: 10px 17px;
    
}

/* modificar os links */

.links {
     gap: 40px;
}

/* modificar o titulo */

h1 {
    margin-top: 60px;
    font-size: 30px;
}
 
/* modificar espaço dos cartões */

.elenco {
    margin-top: 40px;
    gap: 24px;
}

/*modificar cartões */

.cartao {
    width: 45%;
    margin-left: 0;

}
}

.menu-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.menu-btn .bar {
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 5px;
    transition: 0.3s;
}
.menu-mobile {
    display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    background: rgb(22,22,61);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.menu-mobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-mobile li {
    margin: 12px 0;
}

.menu-mobile a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Pacifico;
}
@media (max-width: 768px) {

    .menu-btn {
        display: flex;
    }

    .menu-desktop {
        display: none;
    }
}

@media (max-width: 768px) {
    body {
        background-attachment: scroll;  /* evita bug no iPhone */
        background-size: cover;
    }
}







































