/* fontes de letras utilizadas */ 

@font-face {
    font-family: 'Pacifico-Regular';
    src: url('../fonts/Pacifico-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Switzer-Black';
    src: url('../fonts/Switzer-Black.otf') format('opentype');
}




/* estealização da pagina web */

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* criação do cabeçalho */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 61);
    border-radius: 0 0 50px 50px;
    padding: 10px 0;
    margin-top: 0;
}

/* modificação dos "links */

.links {
    list-style: none;
    display: flex;
    gap: 90px;
 } 

.links a {
    text-decoration: none;
    margin-right: 100px;
    color: rgb(200, 235, 255);
    font-family: 'Pacifico-Regular';
    font-size: 18px;
}
.logo {
    height: 100px;
    margin-left: 105px;
}
/* falta fazer o zoom */

/* cartões */

.elenco {
    display: flex;
    justify-content: center;
    gap: 40px;         
    margin-top: 20px;
    flex-wrap: wrap;   
    margin-top: 130px;
    align-items: center;
}
.cartao {
    background-color: white;
    width: 220px;      
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.cartao img {
    width: 100%;
    border-radius: 8px;
}
.foto{
   height: 145px;
}
.foto1 {
    height: 150px;
}

/* fundo */

.fundo {
    background-image: url("../Imagens/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* modificar titulo */ 

h1 {
    text-align: center;
    font-family: 'Switzer-Black';



}